/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .nav {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
}

.nav a {
 float: left;
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

.nav a:hover{
  background-color: #111;
}

.search {
 float: right;
 position: relative;
 top: -70px;
 padding-right: 30px;
}

.success{
 padding: 10px;
 background-color: #4be4a4;
 color: white;
}

.error {
 padding: 10px;
 background-color: red;
 color: white;
}

.button {
 background-color: lightgray;
 border: none;
 padding: 10px 24px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 border-radius: 8px;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  /* opacity: 0.5; */
  background-color: #e7e7e7;
}

a, a:visited {
  color:rgb(119, 152, 189);
}

a:hover {
 color: gray;
}

.button a {
 /* text-decoration-color:rgb(4, 0, 255); */
 text-decoration: none;
}

#conversations a{
  text-decoration: none;
}
